@import "variables.scss";

* {
    font-family: 'SF-PRO', Times, serif;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding-inline: 15px ;
    width: 1140px;
}

.link {
    transition: 0.3s;
    &:hover {
        color: $accent-color; 
    }

}

.weight_700 {
    font-weight: 700;
}
.dspl-none {
    display: none;
}

.srh_active {
    background-color: $base-color;
}

.pplr-active { 
    border-bottom: 2px solid $accent-color !important; //overwritting is needed due to exisiting properties
    padding-bottom: 10px !important; //overwritting is needed due to exisiting properties
}