@import "variables.scss";

* {
    font-family: 'SF-PRO', Times, serif;
    color: $basic-color;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    padding-inline: 15px;
    max-width: 1140px;
}

.link {
    transition: 0.3s;

    &:hover {
        color: $accent-color;
    }

}

.weight_700 {
    font-weight: 700;
}

.dspl-none {
    display: none;
}

.srh_active {
    background-color: $base-color;
}

@media (max-width: 576px) {
    .srh_active {
        border-radius: 0px !important;
        background-color: white;
        border-bottom: 2px solid $accent-color !important;
    }
}

.pplr-active {
    border-bottom: 2px solid $accent-color !important; //overwritting is needed due to exisiting properties
    padding-bottom: 10px !important; //overwritting is needed due to exisiting properties
}