@import "../common/variables.scss";

.discount-banner {
  .discount-banner__body {
    background-color: $accent-color;
    display: grid;
    grid-template-columns: auto auto 265px auto;

    .discount-banner__item {
      margin: 26px 0;
      &:first-child {
        display: flex;
        justify-content: right;
      }

      &:last-child {
        align-self: center;
      }
      .discount-banner__text {
        color: white;
        font-weight: 700;
        font-size: 36px;
        .discount-banner__word {
          text-transform: uppercase;
          color: inherit;
        }
      }

      .discount-banner__link {
        --c: white;
        display: inline-block;
        width: 220px;
        height: 50px;
        color: var(--c);
        font-size: 16px;
        border: 6px solid var(--c);
        border-radius: 7px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        line-height: 50px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;
        margin-left: 30px;

        & span {
          position: absolute;
          width: 25%;
          height: 100%;
          background-color: var(--c);
          transform: translateY(150%);
          border-radius: 50%;
          left: calc((var(--n) - 1) * 25%);
          transition: 0.5s;
          transition-delay: calc((var(--n) - 1) * 0.1s);
          z-index: -1;
        }

        &:hover {
          color: $accent-color;
        }

        &:hover span {
          transform: translateY(0) scale(2);
        }

        & span:nth-child(1) {
          --n: 1;
        }

        & span:nth-child(2) {
          --n: 2;
        }

        & span:nth-child(3) {
          --n: 3;
        }

        & span:nth-child(4) {
          --n: 4;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .discount-banner {
    .discount-banner__body {
      grid-template-columns: auto auto 230px auto;

      .discount-banner__item {
        margin: 26px 0;
        &:first-child {
          display: flex;
          justify-content: right;
        }

        &:last-child {
          align-self: center;
        }
        .discount-banner__text {
          color: white;
          font-weight: 700;
          font-size: 28px;
        }

        .discount-banner__link {
          width: 190px;
          height: 50px;
          font-size: 16px;
          border: 6px solid var(--c);
          border-radius: 7px;
          letter-spacing: 1px;
          line-height: 50px;
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .discount-banner {
    .discount-banner__body {
      grid-template-columns: 1fr 212px 1fr;
      grid-template-rows: repeat(2, auto);

      grid-template-areas:
        "item3 item3 item3"
        "item1 item4 item2";
      column-gap: 10px;

      .discount-banner__item {
        margin: 0;
        &:first-child {
          display: flex;
          justify-content: right;
          grid-area: item1;
        }
        &:nth-child(2) {
          grid-area: item2;
          display: flex;
          justify-content: left;
        }
        &:nth-child(3) {
          margin-top: 10px;
          text-align: center;
          grid-area: item3;
          justify-self: center;
          .discount-banner__text {
            color: white;
            font-weight: 700;
            font-size: 30px;
            width: 400px;
          }
        }

        &:last-child {
          grid-area: item4;
        }

        .discount-banner__link {
          width: 200px;
          height: 50px;
          font-size: 16px;
          border: 6px solid var(--c);
          border-radius: 7px;
          letter-spacing: 1px;
          line-height: 50px;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 634px) {
  .discount-banner {
    .discount-banner__body {
      grid-template-columns: 1fr 185px 1fr;
      grid-template-rows: repeat(2, auto);

      grid-template-areas:
        "item3 item3 item3"
        "item1 item4 item2";
      column-gap: 10px;

      .discount-banner__item {
        margin: 0;
        &:first-child {
          display: flex;
          justify-content: right;
          grid-area: item1;
        }
        &:nth-child(2) {
          grid-area: item2;
          display: flex;
          justify-content: left;
        }
        &:nth-child(3) {
          margin-top: 10px;
          text-align: center;
          grid-area: item3;
          .discount-banner__text {
            color: white;
            font-weight: 700;
            font-size: 24px;
            width: 300px;
          }
        }

        &:last-child {
          grid-area: item4;
        }

        .discount-banner__link {
          width: 180px;
          height: 50px;
          font-size: 16px;
          border: 3px solid var(--c);
          border-radius: 7px;
          letter-spacing: 1px;
          line-height: 50px;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 475px) {
  .discount-banner {
    .discount-banner__body {
      grid-template-columns: 1fr 145px 1fr;
      grid-template-rows: repeat(2, auto);

      grid-template-areas:
        "item3 item3 item3"
        "item1 item4 item2";
      column-gap: 5px;
      row-gap: 10px;

      .discount-banner__item {
        margin: 0;
        &:first-child {
          display: flex;
          justify-content: right;
          grid-area: item1;
        }
        &:nth-child(2) {
          grid-area: item2;
          display: flex;
          justify-content: left;
        }
        &:nth-child(3) {
          margin-top: 10px;
          text-align: center;
          grid-area: item3;
          .discount-banner__text {
            color: white;
            font-weight: 700;
            font-size: 16px;
            width: 210px;
          }
        }

        &:last-child {
          grid-area: item4;
        }

        .discount-banner__link {
          width: 140px;
          height: 40px;
          font-size: 14px;
          border: 3px solid var(--c);
          border-radius: 7px;
          letter-spacing: 1px;
          line-height: 40px;
          margin: 0;

          &:hover span {
            transform: translateY(0) scale(3.2);
          }
        }
      }
    }
  }
}
