@import "../common/variables.scss";

@mixin footer-title {
    font-weight: 700;
    font-size: 14px;
}

.footer {
    background-color: $base-color;

    .footer__grid {
        padding-top: 42px;
        padding-bottom: 46px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .email-signup {
            h3 {
                margin: 0;
                @include footer-title;
                margin-bottom: 34px;
                width: 220px;
            }

            .email-signup__form {
                .email-signup__field {

                    padding: 0;
                    padding-left: 12px;
                    display: inline-block;
                    width: 185px;
                    height: 34px;
                    border: none;
                    outline: none;

                    &::placeholder {
                        color: $brightGray-color;
                    }
                }

                .email-signup__btn {
                    padding: 0;
                    height: 34px;
                    width: 110px;
                    background-color: $accent-color;
                    color: #FFF;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 11px;
                    letter-spacing: 2px;
                    transition: 0.3s;

                    &:hover {
                        opacity: 0.8;
                    }



                }
            }
        }

        .bottom-menu {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .bottom-menu__item {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 14px;

                li {
                    transition: 0.3s;


                    &:first-child {
                        @include footer-title;
                    }

                    &:not(:first-child) {
                        margin-top: 8px;

                        &:hover {
                            color: $accent-color;
                        }
                    }
                }

            }
        }

        .link-icon {
            align-self: center;
            justify-self: center;

            .link-icon {
                &:not(:last-child) {
                    margin-right: 30px;
                }

                svg path {
                    transition: 0.3s;
                }

                &:hover svg path {
                    fill: $accent-color;
                }
            }
        }
    }

    .footer__info {
        padding-bottom: 26px;
        display: flex;
        justify-content: center;
        gap: 80px;
        font-weight: 400;
        font-size: 10px;

        a {
            transition: 0.3s;

            &:hover {
                color: $accent-color;
            }
        }
    }
}