@import "../common/variables.scss";
@import "../common/mixins.scss";

.popular-product {
    margin-bottom: 76px;

    .popular-product__title {
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: 700;


    }

    .popular-product__sort {
        margin-bottom: 13px;
        list-style: none;
        padding: 0;

        .popular-product__item {

            position: relative;
            display: inline-block;

            font-size: 15px;
            font-weight: 500;
            transition: 0.3s;

            &:not(:last-child) {
                margin-right: 50px;
            }

            .popular-product__item-btn {
                padding: 0;
                padding-bottom: 10px;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid $accent-color;
                    padding-bottom: 10px;
                }
            }
        }
    }

    @include product-slider;

    .popular-product__more {
        display: block;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: 35px;
        padding: 17px 43px 15px 43px;
        background-color: $base-color;
        letter-spacing: 3px;
        font-size: 15px;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
            color: $accent-color;
        }


    }

}