@import "../common/variables.scss";

.popular-product {
    .popular-product__title {
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: 700;
        

    }
    .popular-product__sort {
        margin-bottom: 13px;
        list-style: none;
        padding: 0;
        .popular-product__item {
            padding-bottom: 10px;
            position: relative;
            display: inline-block;
            border-bottom: 2px solid transparent;
            font-size: 15px;
            font-weight: 500;
            transition: 0.3s;
            &:not(:last-child) {
                margin-right: 50px;
            }
            &:hover {
                border-bottom: 2px solid $accent-color;
                padding-bottom: 10px;
            }
        }
    }
    .product-slider {
        list-style: none;
        .product-slider__item {
            display: flex;
            position: relative;
            width: 270px;
            height: 402px;
            border: 1px solid #CDCDCD;
            border-radius: 5px;
            flex-direction: column;
            align-items: center;
            
            .product-slider__link {
                position: absolute;
            }
            .product-slider__sale {
                position: absolute;
                top: 0;
                left: 0;
                padding: 6px 16px;
                font-size: 12px;
                letter-spacing: 7%;
                color: white;
                background-color: $accent-color;

            }
            .product-slider__btn-favorite {
                margin: 10px 7px 0 0;

                padding: 9px;
                position: absolute;
                top: 0;
                right: 0 ;
            }
            .product-slider__img {

                margin: 52px 0 14px 0;
                width: 200px;
                height: 200px;
            }
            .product-slider__name {
                width: 200px;
                text-align: center;
                margin-bottom: 25px;
            }
            .product-slider__price {
                font-size: 30px;
                font-weight: 700;
                &:after {
                    content: " ₽";
                    font-size: 30px;
                font-weight: 700;
                }
            }
            .product-slider__btn-card {
                padding: 10px 16px 6px 14px;
                border-radius: 10px 0 0 0;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $accent-color;
            }
           

        }
    }
}