@import "../common/variables.scss";

.search {
    margin-bottom: 80px;

    .search__type {
        margin-bottom: 25px;

        .search__item {
            display: inline-block;
            padding: 11px 26px;
            border-radius: 5px;
            white-space: nowrap;

            &:hover {
                background-color: $base-color;
            }

        }
    }

    .search__bar {
        .search__form {
            display: flex;
            grid-template-columns: 1fr 145px;

            input {
                width: 100%;
                height: 50px;
                background-color: $base-color;
                border: none;

                &::placeholder {
                    padding-left: 20px;
                    color: #656464;
                }
            }

            .search__btn {
                border: none;
                padding: 16px 40px;
                
                
                background-color: $accent-color;
                transition: 0.3s;
                cursor: pointer;

                .search__btn-text {
                    letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFF;
                
                font-weight: 700;
                }

                svg {
                    display: none;
                }

                &:hover {
                    opacity: 0.8;
                }

            }
        }

    }
}

@media (max-width: 886px) {
    .search {
        margin-bottom: 40px;

        .search__type {
            margin-bottom: 25px;

            .search__item {
                display: inline-block;
                padding: 11px 26px;
                border-radius: 5px;

                &:hover {
                    background-color: $base-color;
                }

            }
        }

        .search__bar {
            .search__form {
                display: flex;
                grid-template-columns: 1fr 145px;

                input {
                    width: 100%;
                    height: 50px;
                    background-color: $base-color;
                    border: none;

                    &::placeholder {
                        padding-left: 20px;
                        color: #656464;
                    }
                }

                .search__btn {
                    border: none;
                    padding: 16px 40px;
                    font-weight: 700;
                    color: #FFFF;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    background-color: $accent-color;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                }
            }

        }
    }
}

@media (max-width: 576px) {
    .search {
        margin-bottom: 40px;

        .search__type {
            margin-bottom: 25px;
            overflow-x: auto;
            display: flex;

            .search__item {
                display: inline-block;
                padding: 0 0 10px 0;
                margin: 11px 26px;
                border-radius: 5px;
                border-bottom: 2px solid transparent;

                &:hover {
                    background-color: white;
                }

            }
        }

        .search__bar {
            .search__form {
                display: block;
                position: relative;
                

                input {
                    width: 100%;
                    height: 50px;
                    background-color: $base-color;
                    border: none;

                    &::placeholder {
                        padding-left: 16px;
                        color: #656464;
                    }
                }

                .search__btn {
                    position: absolute;
                    padding: 0;
                    top: 50%;
                    right: 0;
                    transform:translate(0, -50%);
                    padding: 10px;
                   
                    


                    background-color: transparent;
                    letter-spacing: 2px;

                    .search__btn-text {
                        display: none;
                    }
                    svg {
                        display: block;

                        path {
                            transition: 0.3s;
                        }
        
                        &:hover path {
                            fill: $accent-color;
                        }
                        
                    }






                }
            }

        }
    }
}