@import "../common/variables.scss";

.slider {
    margin-bottom: 80px;

    .container {
        display: grid;
        grid-template-columns: 70% 1fr;
        column-gap: 36px;

        .slider__body {
            position: relative;

            button {
                position: absolute;
                padding: 0;
                top: 50%;
                transition: 0.3s;
                background: transparent;
                cursor: pointer;

                & img {
                    height: 40px;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .slider__btn-next {
                right: 0px;
                transform: translate(-50%, -50%);
            }

            .slider__btn-previous {

                left: 0px;
                transform: translate(50%, -50%);

            }

            .slider__item {
                height: 400px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

        }

        .discount {
            position: relative;
            height: 398px;
            border: 1px solid $brightGray-color;
            border-radius: 3px;

            transition: 0.3s;

            &:hover {
                opacity: 0.9;
                border: 1px solid $accent-color;
            }

            .discount__sale {
                position: absolute;
                left: 0;
                top: 0;
                width: 90px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $accent-color;
                color: white;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .discount__cur-price {
                position: absolute;
                right: 8px;
                top: 2px;
                font-size: 27px;
                color: $accent-color;
                font-weight: 700;

                &::after {
                    content: " ₽";
                    font-size: 27px;
                    font-weight: 500;

                }
            }

            .discount__prev-price {
                position: absolute;
                right: 4px;
                top: 43px;
                font-size: 14px;
                color: $brightGray-color;
                font-weight: 400;

                &::after {
                    content: " ₽";

                }
            }

            .discount__picture {
                display: block;
                margin-top: 57px;
                text-align: center;
            }

            .discount__name {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    width: 160px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            .discount__until {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 80px;
                background-color: $base-color;
                flex-direction: column;
                font-size: 18px;
                font-weight: 400;

                .discount__date {
                    font-size: 18px;
                    font-weight: 700;
                    color: $accent-color;
                }

            }


        }
    }

}