.header {
  margin-top: 25px;
  margin-bottom: 80px;
}
.header .head {
  display: grid;
  grid-template-columns: 1fr minmax(80px, 285px) 1fr;
  align-items: center;
}
.header .head .head__burger-btn {
  position: relative;
  width: 34px;
  height: 28px;
  border: none;
  background-color: aqua;
  display: none;
}
.header .head .head__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 2px;
  border-radius: 2px;
}
.header .head .head__burger-btn span:nth-child(1) {
  transform: translateY(13px);
}
.header .head .head__burger-btn span:nth-child(2) {
  transform: translateY(25px);
}
.header .head .head__item:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
}
.header .head .head__item:nth-child(2) a {
  display: inline;
}
.header .head .head__item:nth-child(3) {
  text-align: center;
}
.header .head .head__item:last-child {
  display: grid;
  grid-template-columns: 1fr 106px;
  align-items: center;
}
.header .head .head__item:last-child .head__address {
  display: inline;
}
.header .head .head__item:last-child .head__address:before {
  content: url(/src/images/header/address.svg);
  display: inline-block;
  position: relative;
}
.header .head .head__item:last-child .head__links {
  display: inline-block;
}
.header .head .head__item:last-child .head__links a {
  display: inline-block;
}
.header .head .head__item:last-child .head__links a:not(:last-child) {
  margin-right: 10px;
}
.header .head .head__item:last-child .head__links a svg path {
  transition: 0.3s;
}
.header .head .head__item:last-child .head__links a:hover svg path {
  fill: #1C62CD;
}
.header .menu {
  margin: 20px 0 0 0;
  padding: 15px 0 15px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: #F0F0F4;
}
.header .menu .menu__item {
  display: inline-block;
  justify-self: center;
}