.search {
  margin-bottom: 80px;
}
.search .search__type {
  margin-bottom: 25px;
}
.search .search__type .search__item {
  display: inline-block;
  padding: 11px 26px;
  border-radius: 5px;
  white-space: nowrap;
}
.search .search__type .search__item:hover {
  background-color: #F0F0F4;
}
.search .search__bar .search__form {
  display: flex;
  grid-template-columns: 1fr 145px;
}
.search .search__bar .search__form input {
  width: 100%;
  height: 50px;
  background-color: #F0F0F4;
  border: none;
}
.search .search__bar .search__form input::placeholder {
  padding-left: 20px;
  color: #656464;
}
.search .search__bar .search__form .search__btn {
  border: none;
  padding: 16px 40px;
  background-color: #1C62CD;
  transition: 0.3s;
  cursor: pointer;
}
.search .search__bar .search__form .search__btn .search__btn-text {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
.search .search__bar .search__form .search__btn svg {
  display: none;
}
.search .search__bar .search__form .search__btn:hover {
  opacity: 0.8;
}

@media (max-width: 886px) {
  .search {
    margin-bottom: 40px;
  }
  .search .search__type {
    margin-bottom: 25px;
  }
  .search .search__type .search__item {
    display: inline-block;
    padding: 11px 26px;
    border-radius: 5px;
  }
  .search .search__type .search__item:hover {
    background-color: #F0F0F4;
  }
  .search .search__bar .search__form {
    display: flex;
    grid-template-columns: 1fr 145px;
  }
  .search .search__bar .search__form input {
    width: 100%;
    height: 50px;
    background-color: #F0F0F4;
    border: none;
  }
  .search .search__bar .search__form input::placeholder {
    padding-left: 20px;
    color: #656464;
  }
  .search .search__bar .search__form .search__btn {
    border: none;
    padding: 16px 40px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1C62CD;
    transition: 0.3s;
    cursor: pointer;
  }
  .search .search__bar .search__form .search__btn:hover {
    opacity: 0.8;
  }
}
@media (max-width: 576px) {
  .search {
    margin-bottom: 40px;
  }
  .search .search__type {
    margin-bottom: 25px;
    overflow-x: auto;
    display: flex;
  }
  .search .search__type .search__item {
    display: inline-block;
    padding: 0 0 10px 0;
    margin: 11px 26px;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
  }
  .search .search__type .search__item:hover {
    background-color: white;
  }
  .search .search__bar .search__form {
    display: block;
    position: relative;
  }
  .search .search__bar .search__form input {
    width: 100%;
    height: 50px;
    background-color: #F0F0F4;
    border: none;
  }
  .search .search__bar .search__form input::placeholder {
    padding-left: 16px;
    color: #656464;
  }
  .search .search__bar .search__form .search__btn {
    position: absolute;
    padding: 0;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 10px;
    background-color: transparent;
    letter-spacing: 2px;
  }
  .search .search__bar .search__form .search__btn .search__btn-text {
    display: none;
  }
  .search .search__bar .search__form .search__btn svg {
    display: block;
  }
  .search .search__bar .search__form .search__btn svg path {
    transition: 0.3s;
  }
  .search .search__bar .search__form .search__btn svg:hover path {
    fill: #1C62CD;
  }
}