.slider {
  margin-bottom: 80px;
}
.slider .container {
  display: grid;
  grid-template-columns: 70% 1fr;
  column-gap: 36px;
}
.slider .container .slider__body {
  position: relative;
}
.slider .container .slider__body button {
  position: absolute;
  padding: 0;
  top: 50%;
  transition: 0.3s;
  background: transparent;
  cursor: pointer;
}
.slider .container .slider__body button img {
  height: 40px;
}
.slider .container .slider__body button img:hover {
  opacity: 0.8;
}
.slider .container .slider__body .slider__btn-next {
  right: 0px;
  transform: translate(-50%, -50%);
}
.slider .container .slider__body .slider__btn-previous {
  left: 0px;
  transform: translate(50%, -50%);
}
.slider .container .slider__body .slider__item {
  height: 400px;
}
.slider .container .slider__body .slider__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}