@font-face {
  font-family: "SF-PRO";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}
@font-face {
  font-family: "SF-PRO";
  font-style: italic;
  font-weight: 900;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
}
@font-face {
  font-family: "SF-PRO";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
}
@font-face {
  font-family: "SF-PRO";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
@font-face {
  font-family: "SF-PRO";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}
@font-face {
  font-family: "SF-PRO";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
}
@font-face {
  font-family: "SF-PRO";
  font-style: italic;
  font-weight: 100;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
}
@font-face {
  font-family: "SF-PRO";
  font-style: italic;
  font-weight: 200;
  src: local("Roboto"), url("/src/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

button {
  background-color: white;
  border: none;
}

p {
  margin: 0;
}

* {
  font-family: "SF-PRO", Times, serif;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding-inline: 15px;
  width: 1140px;
}

.link {
  transition: 0.3s;
}
.link:hover {
  color: #1C62CD;
}

.weight_700 {
  font-weight: 700;
}

.dspl-none {
  display: none;
}

.srh_active {
  background-color: #F0F0F4;
}